<!DOCTYPE html>
<html>
    <head>
        <title>My Website</title>
        
    </head>
    <body>
        <h1>About</h1>
        <p>The data of this project was legally obtained from the Open Data City of Windsor page.</p>
        <p>See below the definition of each variable:</p>
        <ul>
            <li>XCoord: Latitude. Type: Float </a></li>
            <li>YCoord: Longitude. Type: Float</a></li>
            <li>FID Sample: Sample identification number. Type: INT</a></li>
            <li>Species: Specie of the tree. Type: TXT </a></li>
            <li>DBH: Diameter at Breast Height (in centimeters). Type: Float </a></li>
        </ul>
    </body>
</html>