<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <title>About - My Website</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">About</h1>
        <p>This project uses data legally obtained from the Open Data City of Windsor page.</p>
        <p>Below is the definition of each variable used in the dataset:</p>
        <ul>
            <li><strong>XCoord:</strong> Latitude. <em>Type: Float</em></li>
            <li><strong>YCoord:</strong> Longitude. <em>Type: Float</em></li>
            <li><strong>FID Sample:</strong> Sample identification number. <em>Type: INT</em></li>
            <li><strong>Species:</strong> Species of the tree. <em>Type: TXT</em></li>
            <li><strong>DBH:</strong> Diameter at Breast Height (in centimeters). <em>Type: Float</em></li>
        </ul>

        
        <h2 class="mt-5">GitHub Repository Link</h2>
        <!-- Placeholder for GitHub link -->
        <p><a href="https://github.com/kaikesvieira/DA111_python_project_group_8" class="btn btn-dark"><i class="fab fa-github"></i> Visit Our GitHub Repository</a></p>
    

        <h2 class="mt-5">Group Members</h2></p>
        
        <!-- Member 1 -->
        <div class="card mb-3">
            <div class="card-body d-flex align-items-center">
                <h5 class="card-title">Azizbek Makhmudov</h5>
                <a href="https://www.linkedin.com/in/azizbek-makhmudov-1173bb1aa/" class="btn btn-outline-info btn-sm ml-2">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a href="https://github.com/Aziz0406" class="btn btn-outline-dark btn-sm ml-1">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </div>

        <!-- Member 2 -->
        <div class="card mb-3">
            <div class="card-body d-flex align-items-center">
                <h5 class="card-title">Kaike Viera</h5>
                <p class="card-text"></p>
                <a href="https://www.linkedin.com/in/kaikevieira/" class="btn btn-outline-info btn-sm ml-2">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a href="https://github.com/kaikesvieira" class="btn btn-outline-dark btn-sm ml-1">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </div>
        
        <div class="card mb-3">
            <div class="card-body d-flex align-items-center">
                <h5 class="card-title"> S T M Chathurangi Anuruddhikav Senavirathna</h5>
                <p class="card-text"></p>
                <a href="" class="btn btn-outline-info btn-sm ml-2">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
                <a href="https://github.com/nishu626" class="btn btn-outline-dark btn-sm ml-1">
                    <i class="fab fa-github"></i> GitHub
                </a>
            </div>
        </div>

        

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

