<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Data Table</title>
</head>
<body>
    <div class="container mt-4">
        <h1>Windsor Trees in Right of Way</h1>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>XCoord</th>
                    <th>YCoord</th>
                    <th>FID Sample</th>
                    <th>Species</th>
                    <th>DBH Average</th>
                    <!-- Add other column headers if necessary -->
                </tr>
            </thead>
            <tbody>
                {% for s in trees%}
            <tr><td>{{ s[0] }}</td><td>{{ s[1] }}</td><td>{{ s[2] }}</td><td>{{ s[3] }}</td><td>{{ s[4] }}</td></tr>
                {% endfor %}    
            </tbody>
        </table>
    </body>
</html>

